#monkey{
    position: static;
    display: inline;
    border-radius:100%;
    height: 50px;
    width: 50px;
}

#banana_button{
    height: 50px;
    width: 50px;
}

#poo_button {
    height:50px;
    width: 50px;
}
