<!-- search bar -->
    <div class='row' id='search_bar' ng-show='questions.length'>
        <div class='col-md-12'>
            <form ng-model='search' role='form'>
                <div class='form-group'>
                    <input ng-model='search' type='text' class='form-control' placeholder='Search'>
                </div>
            </form>
        </div>
    </div>


<!-- title -->
<div id= 'title'>
    <h1 >Ask the Experts!
        <img class="animated infinite pulse" id='monkey' src='../css/Monkey.jpeg'>
    </h1>
</div>

<!-- form for adding a new question -->
    <div class="question_form">
        <div class='col-md-4'>
            <h3 class="animated infinite bounce">Submit a new question!</h3>
            <form ng-submit='QuestionsFactory.addQuestion()' class='form-inline' role='form'>
                <div class='form-group'>
                    <input type='text' ng-model='QuestionsFactory.user_question' class='form-control' placeholder='Ask your question' autofocus required>
                </div>
                <button type='submit' class='btn btn-default'>Ask!</button>
            </form>
        </div>
    </div>


<!-- list of all questions -->
    <div ng-show='questions.length'>
        <h3 ng-show="questions.length && !filtered.length"> No matches found!</h3>
        <div id="answered" class="col-md-6">
            <ul>
                <h3 ng-hide="questions.length && !filtered.length">Monkey Stumpers </h3>
                <li ng-repeat='item in filtered = (questions | filter:search | filter:filterAnswered)'>
                    <a ui-sref='specificQuestion({ questionId: item.id })'>{{ item.question_key }}</a>
                </li>
            </ul>
        </div>

        <div id="unanswered"class="col-md-6">
            <ul>
                <h3 ng-hide="questions.length && !filtered.length">Answered Questions</h3>
                <li ng-repeat='item in filtered = (questions | filter:search | filter:filterUnanswered)'>
                    <a ui-sref='specificQuestion({ questionId: item.id })'>{{ item.question_key }}</a>
                </li>
            </ul>
        </div>
    </div>

<div ui-view> </div>



<!-- checkbox difficult to get working with angular.  function to apply filter in QuestionsController.  Just need to apply that function when the checkbox is checked -->
    <!-- <input type="checkbox" ng-model="filter" ngTrueValue="filterAnswered" ngFalseValue=""/> <span id="unansweredFilter">See all unanswered questions</span></p> -->
