<h2>{{ question.question_key }}</h2>



<!-- list all answers -->
    <ul>
        <li ng-repeat='answer in question.answers'>
            <div class='answer'>
                <h3>{{ answer.answer_key }}</h3>
    <!-- rating selection -->
                <form>
                    <input type="radio"/ name="rating" value="helpful">Helpful
                    <input type="radio" name="rating" value="nothelpful">Not helpful
                </form>
    <!-- upvote -->
                <div class='upvote_button_group'>
                    <button ng-click= 'answer.vote_value = answer.vote_value + 1' type="button"  value="banana"><img id = "banana_button" src="../css/banana.jpeg"></button>
                        <h4>{{ answer.vote_value }}</h4>
                    <button ng-click= 'answer.vote_value = answer.vote_value - 1' type="button" value="poo"><img id = "poo_button" src="../css/poo-50.png"></button>
                </div>
            </div>
        </li>
    </ul>



<!-- Answer submit form -->
    <div class="col-md-4">
        <form ng-submit='addAnswer()' class='form-inline' role='form'>
            <div class='form-group'>
                <input type='text' ng-model='user_answer' class='form-control' placeholder='Answer This Question' required>
            </div>
            <button type='submit' class='btn btn-default'>Answer!</button>
        </form>
    </div>
